# Gradle
.gradle/
build/

# Kotlin
.kotlin/

# Android Studio / IntelliJ
*.iml
.idea/
local.properties
captures/

# Keystore
*.jks
*.keystore

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build outputs
*.apk
*.aab
*.ap_
*.dex

# Native build
.cxx/

# Backup
*.bak
